# Node
node_modules/
package-lock.json

# Keep only JSON source; ignore LevelDB internals
/packs/*/*
!/packs/*/_source/
!/packs/*/_source/**

# LevelDB junk
/packs/*/lost/

#markdownlint
.markdownlint.json